body {
    margin: 0px;
}


.container .box{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto ;
    gap: 10px;
  
    
  }

.container {
    background-color: black;
    border-color: black;
    height: 100;
}


  .box div {
    background-color:orange;
    padding: 20px;
    border: 1px solid rgb(206, 172, 107);
    border-radius: 15px;
  }

  
  @media screen and (max-width: 768px) {
    .container .box {
        display: block;
    }
    
  }

  #titulo {
    grid-column-start: 1;
    grid-column-end: 4;
  }

.box p {
    text-align: center;
}

a {
    color: black;
}

#titulo H4 {
    height: 0px;
    display: flex;
    align-items: center;
}

.box div:hover{
  background-color: rgb(181, 169, 169);
}